<div class='container'>
  <div class="row">
    <div class='offset-md-3 col-md-6'>
      <h1>welcome to Bookers !!</h1>
      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>

      <div class="row">
        <p>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-info" %>
        </p>
      </div>

      <div class="row">
        <p>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
        </p>
      </div>

    </div>
  </div>
</div>